* {
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
}
.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
}

.main-content #clock {
  font-size: 8rem;
}
.clock-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.back-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}
form input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid gainsboro;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}
form input:focus {
  outline: none;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
form button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
}
form ::placeholder {
  color: white;
}
#quote {
  margin-top: 2rem;
}
