@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gowun+Dodum&family=Handlee&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Gowun Dodum", sans-serif;
}
.hidden {
  display: none;
}

body {
  background: black;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
}
.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
}

.main-content #clock {
  font-size: 8rem;
}
.clock-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.back-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  filter: opacity(0.8);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid gainsboro;
  width: 60%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}
form input:focus {
  outline: none;
}
button {
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
form button {
  border: 1px solid white;
  background-color: rgba(198, 232, 255, 0.185);
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 10px;
  margin: 1rem;
  width: 50%;
  transition: all 0.3s;
  color: white;
  font-family: "Amatic SC", cursive;
}
form button:hover {
  background-color: rgb(231, 242, 252);
  color: black;
}
form ::placeholder {
  color: white;
}
#quote {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
#quote > span {
  margin-top: 2rem;
  font-family: "Handlee", cursive;
  margin: 0.5rem;
}
#weather {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
}
#goal-form {
  margin-top: 2rem;
}
