@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gowun+Dodum&family=Handlee&display=swap");
@font-face {
  font-family: "IM_Hyemin-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Gowun Dodum", sans-serif;
  transition: all 0.2s;
}
.hidden {
  display: none;
}

.clear {
  transition: all 0s;
  visibility: hidden;
}

body {
  background: black;
  min-height: 100vh;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
main {
  padding: 1rem;
}
footer {
  padding: 1rem;
}
#weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#weather > span {
  font-family: "IM_Hyemin-Regular", cursive;
  font-size: 1.6rem;
}
#weather span:nth-child(2) {
  font-size: 1rem;
  position: relative;
  top: -0.5rem;
}
#weather span:last-child {
  font-size: 1rem;
  opacity: 0.9;
}
#clock {
  font-size: 9rem;
}
.clock-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.back-img {
  background: url("./img/0.jpg") center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  filter: opacity(0.8);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid gainsboro;
  width: 60%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}
form input:focus {
  outline: none;
}
button {
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
form button {
  border: 1px solid white;
  background-color: rgba(198, 232, 255, 0.185);
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 10px;
  margin: 1rem;
  width: 50%;
  transition: all 0.3s;
  color: white;
  font-family: "Amatic SC", cursive;
}
form button:hover {
  background-color: rgb(231, 242, 252);
  color: black;
}
form ::placeholder {
  color: white;
}
.time {
  text-align: center;
  padding-top: 13rem;
}
#goal-form {
  padding-top: 2rem;
  height: 100%;
  position: relative;
}
#goal-form h3 {
  margin-top: 0.5rem;
  cursor: pointer;
}

#quote {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
#quote > span {
  margin-top: 2rem;
  font-family: "Handlee", cursive;
  margin: 0.5rem;
  font-size: 1.2rem;
}
.goal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 3rem;
  transition: all 0s;
}
.goal-container .btn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  right: 0rem;
  top: 0rem;
  font-size: 2rem;
  cursor: pointer;
}

.goal-container .btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.menu-box {
  background-color: rgba(255, 245, 245, 0.123);
  border: 1px solid gainsboro;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  position: absolute;
  right: -40px;
  top: -30px;
}

.menu-box span:first-child::after {
  content: " |";
}
.menu-box span {
  cursor: pointer;
}
